<div style="padding-left: 20px;">
  <h1>All Pets At: <%= link_to "#{@shelter.name}", "/admin/shelters/#{@shelter.id}" %></h1>

  <div style="float:left; padding-right: 5px;">
    <%= button_to "Sort Alphabetically", "/admin/shelters/#{@shelter.id}/pets", method: :get, params: { sort: 'alphabetical' } %>
  </div>
  <%= button_to "Create New Pet", "/admin/shelters/#{@shelter.id}/pets/new", method: :get %>

  <%= form_with url: "/admin/shelters/#{@shelter.id}/pets?age=#{params[:age]}", method: :get, local: true do |f| %>
    <%= f.label "Only display pets with an age of at least..." %>
    <%= f.select :age, (1..15).to_a %>
    <%= f.submit "Filter Pets" %>
  <% end %>
  <br><br>

  <% @shelter_pets.each do |pet| %>
    <div id="pet-<%= pet.id %>">
      <h3><em><%= pet.name %></em></h3>
      <p>Age: <%= pet.age %></p>
      <p>Breed: <%= pet.breed %></p>
      <p><%= pet.name %> can be adopted from <%= @shelter.name %>!</p>
      <div style="float:left; padding-right:5px;">
        <%= button_to "Edit: #{pet.name}", "/pets/#{pet.id}/edit", method: :get %>
      </div>
      <%= button_to "Delete: #{pet.name}", "/pets/#{pet.id}", method: :delete %>
      <br><br>
    <div>
  <% end %>




</div>
