<h6><%= "Applicant Description: #{@application.applicant_description}" %></h6>
<br>

<h4><em>Admin Approval for Applicant:</em> <%= "#{@application.applicant_fullname}" %></h4>
<% @pets.each do |pet| %>
  <% if PetApplication.pet_approval_status(pet.id, @application.id).status == 'Pending Review' %>
    <div id="pet-approval-<%= pet.id %>">
      <div style="float:left; padding-right:20px;">
        <%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}/#{pet.id}", method: :post, params: { pet_id: "#{pet.id}", status: "Approved" } %>
      </div>
      <%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}/#{pet.id}", method: :post, params: { pet_id: "#{pet.id}", status: "Rejected" } %>
    </div>
    <br>
  <% end %>
<% end %>
