<div style="padding-left: 20px;">
  <h1><em>Add Pets to Application:</em></h1>
  <br><br>
  <% @pets.each do |pet| %>
    <div id="pet-<%= pet.id %>">
      <% if pet.adoptable && !pet.on_current_application?(params[:id]) %>
        <h3><%= pet.name %></h3>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p>Shelter: <%= pet.shelter_name %></p>
        <%= button_to "Add #{pet.name}", "/admin/applications/#{params[:id]}/add_pet", method: :post, params: { pet_id: "#{pet.id }" } %>
        <br><br>
      <% end %>
    </div>
  <% end %>
  <br><br>
</div>
