<div style="padding-left: 20px;">
  <h3><%= "Application: #{@application.last_updated}" %></h3>
    <h6><%= "Name: #{@application.applicant_fullname}" %></h6>
    <h6><%= "Address: #{@application.full_address}" %></h6>
    <h6><%= "Description: #{@application.applicant_description}" %></h6>
    <h6><%= "Status: #{@application.status}" %></h6>
    <br><br>
    <h4><em>Pets Applied For:</em></h4>
    <% @pets.each do |pet| %>
      <div id="pet-<%= pet.id %>">
        <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
      </div>
    <% end %>
    <br><br>
    <% if @application.status != 'Pending' %>
      <h6><em>Add Pets to Application:</em></h6>
      <%= form_with url: "/admin/applications/#{@application.id}/search", method: :get, local: true do |f| %>
        <%= f.label :search, "Pet Name:" %>
        <%= f.text_field :search %>
        <%= f.submit "Search Pets" %>
      <% end %>
      <br>
    <% end %>
</div>
