<div style="padding-left: 20px;">
  <br>
  <h3><%= "Application: #{@application.last_updated}" %></h3>
    <h6><%= "Applicant Name: #{@application.applicant_fullname}" %></h6>
    <h6><%= "Applicant Address: #{@application.full_address}" %></h6>
    <h6><%= "Application Status: #{@application.status}" %></h6>
    <% if @application.status == 'Pending' %>
      <%= render partial: "approval", locals: { method: "post" } %>
    <% end %>
    <br>
    <h4><em>Pets Applied For:</em></h4>
    <% @pets.each do |pet| %>
      <div id="pet-<%= pet.id %>">
        <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
        <p><em>Current Status: </em><%= "#{PetApplication.pet_approval_status(pet.id, @application.id).status}" %>
        <br>
      </div>
    <% end %>
    <br>
    <% if @application.status != 'Pending' %>
      <%= render "search" %>
    <% end %>
    <% if @application.has_pets? && @application.status != 'Pending' %>
      <%= render "submit" %>
    <% end %>
</div>
