<div style="padding-left: 20px;">
  <h1>Edit Pet</h1>
  <%= form_with url: "/pets/#{@pet.id}", method: :patch, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: "#{@pet.name}" %>

    <%= f.label :breed %>
    <%= f.text_field :breed, value: "#{@pet.breed}" %>

    <%= f.label :adoptable %>
    <%= f.check_box :adoptable %>

    <%= f.label :age %>
    <%= f.number_field :age, in: 1..30, step: 1, value: "#{@pet.age}" %>
    <br><br>
    <%= f.submit %>
  <% end %>
</div>
