<div style="padding-left: 20px;">
  <h1><%= @pet.name %></h1>
  <p>Age: <%= @pet.age %></p>
  <p>Breed: <%= @pet.breed %></p>
  <% if @pet.adoptable? %>
    <p>Adoptable: Yes</p>
  <% else %>
    <p>Adoptable: No</p>
  <% end %>
  <p>Shelter: <%= link_to "#{@pet.shelter.name}", "/admin/shelters/#{@pet.shelter.id}" %></p>

  <div style="float:left; padding-right:5px;">
    <%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method: :get %>
  </div>
  <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
  <br><br>
</div>
